@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap');

// Blocs

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

// TRUE SCSS
.container {
  margin: auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

.fullpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeNew {
  font-family: 'Lato', sans-serif;

  h1, h2, h3, h4, h5, a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.arial {
  font-family: 'Arial';
}

.courierNew {
  font-family: 'Courier New';
}

$red: #f50029cb;
$black: #121212;
$text: rgb(130, 130, 130);
$white: white;
$green: rgb(0, 171, 132);
$blue: blue;

@mixin theme-colors($theme: red) {
  @if $theme == red {
    background-color: $red;

    h1, h2, a, strong {
      color: $red;
    }
  }
  @elseif $theme == blue {
    background-color: $blue;
    color: white;

    h1, h2 {
      color: white;
    }
  }
  @elseif $theme == black {
    background-color: $black;
    color:$white;

    h1, h2, a, strong {
      color: $red;
    }
  }
  @elseif $theme == default {
    background-color: $white;
    color: $black;
  }
  
  @else {
    background-color: $white;
    color: $black;

    h1, h2 {
      color: $black;
    }
  }
}

.center {
  text-align: center;
  }

.left {
  text-align: left;
  }

.right {
  taxt-align: right;
}
