@import '../assets/scss/index.scss';

.page {
  @include theme-colors($theme: default);

  &.red {
    @include theme-colors($theme: red);
  }

  &.blue {
    @include theme-colors($theme: blue);
  }

  &.black {
    @include theme-colors($theme: black);
  }

}

.mainlogo {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;

    li {
      margin: 20px 20px;
      
      a {
        color: white;
        text-shadow: black 0px 0px 6px;
        
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
